In [15]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib as plt

#change path to dfset
df = pd.read_csv("datasets/general_liability.csv")
df = df.drop(df.index[-2])
df.head()

,INDUSTRY_CATEGORIES,NUMBER_OF_EMPLOYEES,AGE,ANNUAL_REVENUE,LOWER_BOUND,UPPER_BOUND,GENERAL_LIABILITY
0,Agriculture,6,10,38562,1000,3000,2420
1,Agriculture,9,12,31964,1000,3000,2093
2,Agriculture,2,9,38245,1000,3000,2723
3,Agriculture,8,6,43705,1000,3000,1226
4,Agriculture,10,12,52276,1000,3000,1125

In [31]:
#plt.pyplot.figure(figsize=(24,12))
#sns.barplot(x=df['INDUSTRY_CATEGORIES'], y=df['GENERAL_LIABILITY']/df['INDUSTRY_CATEGORIES'].count())

In [63]:
#model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

def predictingByCategory(categoryInput):
    category = 'INDUSTRY_CATEGORIES == "' + str(categoryInput) + '"'
    m=df.query(category)
    m.head()
    
    train = m.drop(['INDUSTRY_CATEGORIES','LOWER_BOUND', 'UPPER_BOUND', 'GENERAL_LIABILITY'], axis=1)
    train.isnull().sum()
    test = m['GENERAL_LIABILITY']
    
    #return train, test

    X_train, X_test, y_train, y_test = train_test_split(train, test, test_size=0.3, random_state=2)
    regr = LinearRegression()
    regr.fit(X_train, y_train)

    pred = regr.predict(X_test)
    return regr.score(X_test, y_test)

In [64]:
predictingByCategory("Agriculture")

-0.42366775442751536